/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lora",serif, "Oxygen",sans-serif, "Arial",sans-serif;
  font-weight: $font-weight;
  background-color: #fff;
  color: $color-primary;
}

img {
  max-width: 100%;
  height: auto;
}